*.log
.DS_Store
.htaccess
phpinfo.php
Thumbs.db
/cache/*
/.idea/*
/config*.php
/tmp/
/upload/
/custom/screenshots/
/test_*.php
/custom/blowfish/*
/custom/history/*
/custom/modulebuilder/*
/custom/working/*
/custom/application/Ext/
/custom/modules/*/Ext/
/modules/AOD_Index/Index/*
/ExtGenerator/*
/plugin/debug*.*
/plugin/source/readme.txt
/plugin/plugin-*.zip
/public/
